* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-image: url(./pics/pic3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 45px;
}

#nav {
    width: 50%;
    height: 45px;
    display: flex;
    margin: 0 auto;
}

button {
    width: 50%;
}