* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-image: url(./pics/pic3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nav {
    width: 50%;
    height: 60px;
    display: flex;
    margin: 0 auto;
    justify-content:center;
    gap: 20px
}

button{
    width: 35px;
    height: 20px;
    margin-left: 5px;
}

